<html>
    <head>
        <title>welcome to gitnote</title>
        <script type='text/javascript' src='static/js/jquery-2.1.1.min.js' ></script>
    </head>
    <script>
        $(document).ready(function(){
            $('#addnote').click(function(){
                $('#htmladd').css('display', 'block');
            });
            $('#filter').change(function(){
                $.ajax({
                    url:'filter/',
                    data:{
                        projName:$('#filter').val()
                    },
                    type:'GET',
                    datatype:'json',
                    success:function(data, a){
                        var tr = '<tr><td>projName</td><td>appName</td><td>servName</td><td>opTime</td><td>gitcommitId</td><td>state</td><td>tester</td><td>remark</td></tr>';
                        $.each(data, function(n, i){
                            tr += "<tr>";
                            tr += "<td>"+i.fields.projName+"</td>";
                            tr += "<td>"+i.fields.appName+"</td>";
                            tr += "<td>"+i.fields.servName+"</td>";
                            tr += "<td>"+i.fields.opTime+"</td>";
                            tr += "<td>"+i.fields.gitcommitId+"</td>";
                            tr += "<td>"+i.fields.state+"</td>";
                            tr += "<td>"+i.fields.tester+"</td>";
                            tr += "<td>"+i.fields.remark+"</td>";
                            tr += "</tr>";
                        });
                        $("#result").html(tr);
                    },
                    error:function(){
                        alert("exception");
                    }
                });
            });
        });
    </script>
    <body>
        <p>git note</p>
        <div>
            filter:
            <select id="filter">
                <option value="0">--select--</option>
                {% for proj in projs %}
                <option value="{{proj.projName}}">{{proj.projName}}</option>
                {% endfor %}
            </select>
            <input type='button' id='addnote' value='add'/>
        </div>
        <div>
        <table id="result" border="1">
        <tr>
            <td>projName</td>
            <td>appName</td>
            <td>servName</td>
            <td>opTime</td>
            <td>gitcommitId</td>
            <td>state</td>
            <td>tester</td>
            <td>remark</td>
        </tr>
        {% for note in noteall %}
        <tr>
            <td>{{note.projName}}</td>
            <td>{{note.appName}}</td>
            <td>{{note.servName}}</td>
            <td>{{note.opTime}}</td>
            <td>{{note.gitcommitId}}</td>
            <td>{{note.state}}</td>
            <td>{{note.tester}}</td>
            <td>{{note.remark}}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
        <div id='htmladd' style='display:none'>
            <form action='add/' method='get'><table border="1"><table border='1'>
                <tr><td>projName</td><td><input type='text' name='projName'></td></tr>
                <tr><td>appName</td><td><input type='text' name='appName'></td></tr>
                <tr><td>servName</td><td><input type='text' name='servName'></td></tr>
                <tr><td>gitcommitId</td><td><input type='text' name='gitcommitId'></td></tr>
                <tr><td>state</td><td><input type='text' name='state'></td></tr>
                <tr><td>tester</td><td><input type='text' name='tester'></td></tr>
                <tr><td>remark</td><td><input type='text' name='remark'></td></tr>
            <tr><td><input type='submit' value="submit"/></td></tr>
        </table></form>
        </div>
    </body>
</html>
